# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
#---Obtaining the data---
import sqlite3
import pandas as pd

#Import
economy_data = pd.read_csv('economy_data.csv')
walmart_conn = sqlite3.Connection('Walmart.db')
walmart_cur = walmart_conn.cursor()

In [22]:
#---Synthesizing data---

#Format
def sql_select_to_df(SQL_COMMAND, cursor):
    results = cursor.execute(SQL_COMMAND).fetchall()
    df = pd.DataFrame(results)
    df.columns = [i[0] for i in cursor.description]
    return df

#Get

#walmart sales
walmart_sales = sql_select_to_df('''SELECT * FROM sales''', walmart_cur)
walmart_store_details = sql_select_to_df('''SELECT * FROM store_details''', walmart_cur)
walmart_df = sql_select_to_df("""SELECT * FROM 
                        sales join store_details
                        using(store)
                        """, walmart_cur)

walmart_df_store_indexed = walmart_df.set_index('Store')
economy_data_store_indexed = economy_data.set_index('Store')

merged_store_df = walmart_df.join(economy_data, on='Store', lsuffix='Date')

df.to_csv(file_name, sep='\t')

,StoreStore,Dept,DateStore,Weekly_Sales,IsHolidayStore,Type,Size,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,1,2010-02-05,24924.50,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
1,1,1,2010-02-12,46039.49,True,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
3,1,1,2010-02-26,19403.54,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
4,1,1,2010-03-05,21827.90,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
5,1,1,2010-03-12,21043.39,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
6,1,1,2010-03-19,22136.64,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
7,1,1,2010-03-26,26229.21,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
8,1,1,2010-04-02,57258.43,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
9,1,1,2010-04-09,42960.91,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
10,1,1,2010-04-16,17596.96,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
11,1,1,2010-04-23,16145.35,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
12,1,1,2010-04-30,16555.11,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
13,1,1,2010-05-07,17413.94,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
14,1,1,2010-05-14,18926.74,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
15,1,1,2010-05-21,14773.04,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
16,1,1,2010-05-28,15580.43,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
17,1,1,2010-06-04,17558.09,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
18,1,1,2010-06-11,16637.62,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
19,1,1,2010-06-18,16216.27,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
20,1,1,2010-06-25,16328.72,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
21,1,1,2010-07-02,16333.14,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
22,1,1,2010-07-09,17688.76,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
23,1,1,2010-07-16,17150.84,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
24,1,1,2010-07-23,15360.45,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
25,1,1,2010-07-30,15381.82,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
26,1,1,2010-08-06,17508.41,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
27,1,1,2010-08-13,15536.40,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
28,1,1,2010-08-20,15740.13,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
29,1,1,2010-08-27,15793.87,False,A,151315,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452162,45,98,2012-04-06,778.70,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452163,45,98,2012-04-13,559.14,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452164,45,98,2012-04-20,605.80,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452165,45,98,2012-04-27,619.41,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452166,45,98,2012-05-04,694.25,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452167,45,98,2012-05-11,893.60,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452168,45,98,2012-05-18,745.44,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452169,45,98,2012-05-25,795.94,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452170,45,98,2012-06-01,874.64,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452171,45,98,2012-06-08,713.50,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452172,45,98,2012-06-15,856.35,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452173,45,98,2012-06-22,622.62,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452174,45,98,2012-06-29,690.52,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452175,45,98,2012-07-06,659.65,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452176,45,98,2012-07-13,695.21,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452177,45,98,2012-07-20,845.30,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452178,45,98,2012-07-27,657.63,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452179,45,98,2012-08-03,516.46,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452180,45,98,2012-08-10,727.49,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452181,45,98,2012-08-17,500.16,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452182,45,98,2012-08-24,415.40,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452183,45,98,2012-08-31,346.04,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452184,45,98,2012-09-07,352.44,True,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452185,45,98,2012-09-14,605.96,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452186,45,98,2012-09-21,467.30,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452187,45,98,2012-09-28,508.37,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452188,45,98,2012-10-05,628.10,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452189,45,98,2012-10-12,1061.02,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452190,45,98,2012-10-19,760.01,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False
452191,45,98,2012-10-26,1076.80,False,B,118221,1,2010-12-17,49.84,2.869,NaN,NaN,NaN,NaN,NaN,211.405312,7.838,False

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!